<% title "Change User Password" %>

<br />
<% form_tag update_password_user_path(@user) do  %>
  <%= error_messages_for "user" %>
  
  <p>
    Password <br />
    <%= password_field "user", :password %>
  </p>
  <p>
    Confirm Password<br />
    <%= password_field "user", :password_confirmation %>
  </p>
  <p><%= submit_tag "Update Password" %></p>
<% end %>


