<html>
  <head>
    <title>Reminder : Renewal of policy</title>
</head>

<body>
<table>
<tr>
  <td style="height: 19px" colspan="3" valign="top"><span style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 16px;">Reminder of your renewal policy</span></td>
</tr>

</table>
<br /><br />

<table style="font-family:Arial, Lucida-Grande, Sans-Serif;font-size: 12px;margin-left: 25px;margin-right:25px;width:80%;text-align:left;border :1px solid;border-color: #79bedb;" width="1024" border="0">
<tr>
  <td colspan="2"><p style="font-size:14px;text-align: center" /><b>Policy Info</b></td></tr>
  <tr>
    <td><p style="font-size:12px;" />
      Dear <%= @proposal.investor.fullname %> , <br />
    Your policy will be expire soon. Please renew before the expire date.
    </td></tr>

  <tr><td>

      <table style="width:100%;border:none;">
        <tr>

          <td style="width:30%;">
            Policy no : <%= @proposal.policy_number %><br />
            Expire date :  <%= @proposal.expiry_date %><br/>
            Premium : RM <%= "%.2d" % @proposal.modal_premium %>
          </td></tr>

      </table>

  </td></tr>

  <tr><td>

      <table style="font-family:Arial, LucidaGrande, Sans-Serif;font-size: 12px;margin-left: 1px;margin-right: 1px;width: 100%;background: #79bedb;">
        <tr>
          <td><p style="font-size:14px" />
            Any Enquiry please contact Ms Tan at 04-6889888
            <br /><br />
            </td>
        </tr>
      </table>
  </td></tr>

</table>

</body>
</html>


