
      <!-- content -->
      <div id="content">
          <div>

            <h3>About Us</h3>
            <p class="p2">HK Ventures Sdn Bhd (Co No:879620-X) was incorporate in Malaysia with the registered address at 29-B, 2nd Floor Rangoon Road 10400 Penang.</p>
            <div class="img-box"><img src="/images/about.jpg" alt="" align="center" />
                <p align="justify">
                  <br />HK Ventures Sdn Bhd registered as Agency Leaders Corporation with Life Insurance Association Malaysia (LIAM) and contracted with one of the leading insurer; Uni Asia Life Assurance Berhad (Co No:2777714-A). We are appointed to distribute and solicit some special products of Uni Asia Life Assurance Berhad.<br /> (www.uniasialife.com.my)<br />
                  <br />HK Ventures Sdn Bhd is leaded by Miss Sharon Saw Bee Eng who has more than 20 years experience in Life & General Insurance industry and she has the qualification of 4 consecutive Million Dollar Round Table (MDRT) and many times were in merge as Top 5 Unit Manager in the company since 1998. She is also a field trainer, coaching and speaker for motivator seminar.<br />
                  <br />HK Ventures Sdn Bhd is consulted by Mr. Yeap Thiam Huat (MBA) who has more than 21 years field and coaching and management experience in Life insurance industry. Mr. Yeap is the Top Agency Manager since 1998 – 2009 in the Northern Regional and holding a record of Top Agency Manager for 5 consecutive years in Uni Asia Life Assurance Berhad (2002 - 2006). He is now expanding in building new agency and consultancy job for few life insurance agencies.
                </p>
            </div>
          </div>
        </div>
   
 