<div id="content">
			<div class="wrapper">
				<div class="aside2"><div class="inner_copy"></div>
					<div class="section">
<!-- box begin -->
						<div class="box">
						  <div class="inner">
							<h4><span><span>How to Save and Earn</span></span></h4>
								<table cellspacing="0" cellpadding="10" width="221" border="0">
								  <tbody>
								    <tr>
								      <td align="left"><p align="center"><strong>SAVE</strong><strong> &amp; EARN </strong></p></td>
							        </tr>
							      </tbody>
						    </table>
                                <table cellspacing="0" cellpadding="10" width="221" border="0">
                                  <tbody>
                                    <tr>
                                      <td align="left"><p align="center"><strong><span lang="EN-US" xml:lang="EN-US">BUYER’S   CONCERN<br />
                                        </span></strong><span lang="EN-US" xml:lang="EN-US">Long   Term Payment of Premium</span><span lang="EN-US" xml:lang="EN-US"><br />
                                          <br />
                                          </span><strong><span lang="EN-US" xml:lang="EN-US">UNI   MAXONE (ALC) SOLUTION<br />
                                          </span></strong><span lang="EN-US" xml:lang="EN-US">Save &amp; Earn = Your Introducer’s Commission Covers the   Premium</span></p></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table cellspacing="0" cellpadding="10" width="221" border="0">
                                  <tbody>
                                    <tr>
                                      <td align="left"><p align="center"><strong><span lang="EN-US" xml:lang="EN-US">SELLER’S   CONCERN<br />
                                        </span></strong><span lang="EN-US" xml:lang="EN-US">All   Time Busy Servicing Clients</span><span lang="EN-US" xml:lang="EN-US"><br />
                                          <br />
                                          </span><strong><span lang="EN-US" xml:lang="EN-US">UNI   MAXONE (ALC) SOLUTION<br />
                                          </span></strong><span lang="EN-US" xml:lang="EN-US">One Time Busy = Provide RM20,000 = Death or Total &amp; Permanent   Disability</span></p></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table cellspacing="0" cellpadding="10" width="221" border="0">
                                  <tbody>
                                    <tr>
                                      <td align="left"><p align="center"><strong><span lang="EN-US" xml:lang="EN-US">PROSPECTS   &amp; RECRUITS<br />
                                        </span></strong><span lang="EN-US" xml:lang="EN-US">Busy Sourcing and Time Consuming<br />
                                          <br />
                                          </span><strong><span lang="EN-US" xml:lang="EN-US">UNI   MAXONE (ALC) SOLUTION<br />
                                          </span></strong><span lang="EN-US" xml:lang="EN-US">Using the Vast UNI MAXONE Networks = Your Income Potentials   Limitless</span></p></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table cellspacing="0" cellpadding="10" width="221" border="0">
                                  <tbody>
                                    <tr>
                                      <td align="left"><p align="center"><strong>DOCUMENTS   Required :<br />
                                        <br />
                                        <br />
                                        (Personal Details)    <br />
                                        <br />
                                        (IC   Photocopy)     <br />
                                        <br />
                                        (Credit Card Photocopy)      <br />
                                        <br />
                                        (Nominee IC Photocopy)</strong></p></td>
                                    </tr>
                                  </tbody>
                                </table>
							</div>
						</div>
<!-- box end -->
					</div>
<!-- box1 begin -->
					
<!-- box1 end -->
				</div>
				<div class="mainContent">
				  <h2>Uni Guaranteed   Cash Plus (UGCP).</h2>
					<div class="indent">
				    <p><span lang="EN-US" xml:lang="EN-US">Uni   Guaranteed Cash Plus (UGCP)</span><span lang="EN-US" xml:lang="EN-US"> is an endowment savings plan</span><span lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US">of   Uni</span>
					<span lang="EN-US" xml:lang="EN-US"></span><span lang="EN-US" xml:lang="EN-US"> Asia   Life Assurance Berhad that provides Guaranteed Cash Back of up to 5% of the Sum   Assured for the 25 years term. UGCP can be treated as a second retirement plan   for all Malaysians.</span>
					<span lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US">It</span><span lang="EN-US" xml:lang="EN-US">  </span>
					<span lang="EN-US" xml:lang="EN-US">can   be an alternative savings plan compared to Fixed Deposit due to its attractive   returns.</span>
					<span lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US">In   an environment where the economic landscape is volatile, having life insurance   protection with appealing savings elements will be the perfect choice when a   person retires.   <br />
				        <br />
				    </span><span lang="EN-US" xml:lang="EN-US">UGCP offers a   minimum Sum Assured of RM10,000 and the maximum Sum Assured of RM300,000. It   provides Death/Total &amp; Permanent Disability (TPD) benefits, Accumulated   Revisionary Bonus, Terminal Bonus and the Accumulated Cash Back. A policyholder   has the flexibility to withdraw the Guaranteed Cash Back or reinvest the   proceeds into the policy to earn interest</span></p>
				    <p>&nbsp;</p>
					</div>
			  </div>
		  </div>
		</div>