      <div id="item_top"></div>
            <div id="items_content">
  <p id="text_head">Contact Us by E-mail</p><br /><br />
  Want to contact us? We'd love to hear from you ! Here's how:
  Fill up the form below, and click send.<br /><br />


  <%= generate_flash %>
  <br /><br />
  <% form_tag :action => 'contact_submission' do %>
  <table  id="contact-form">
     <tr>
     <th><p>Name* :</p></th>
     <th><input name="name" type="text" size="50" /></th>
     </tr>
     <tr>
     <th><p>Address :</p></th>
       <th><textarea name="address" rows="5" cols="35"></textarea></th>
     </tr>
      <tr>
     <th><p>Telephone* :</p></th>
     <th><input name="telephone" type="text" size="50" /></th>
     </tr>
     <tr>
     <th><p>Fax :</p></th>
     <th><input name="fax" type="text" /></th>
     </tr>
      <tr>
     <th><p>Email* :</p></th>
     <th><input name="email" type="text" /></th>
     </tr>
     <tr>
     <th><p>Comment :</p></th>
     <th><textarea name="comment" rows="5" cols="35"></textarea></th>
     </tr>

     <table width="500" align="left">
       <tr><br /><br /><th></th><th> <input name="submit" type="submit" value="Submit" /></th></tr></table>

    </table>
      <% end %>
            </div>
          <div id="item_bottom"></div>
      