
		<img src="/images/offer.jpg" alt="" width="820" height="235" border="0" usemap="#Map" />
		<div id="items">
			<div class="item">
				<img src="/images/title1.jpg" alt="" width="263" height="49" /><br />
				<p>
					<strong>Adipiscing elit, sed diam</strong><br />
					Lorem ipsum dolor sit amet, con- sectetuer adipiscing elit, sed diam nonummy nibh euismod.
				</p>
				<span class="read_more"><a href="#">read more</a></span>
			</div>
			<div class="item">
				<img src="/images/title2.jpg" alt="" width="263" height="49" /><br />
				<p>
					<strong>Adipiscing elit, sed diam</strong><br />
					Lorem ipsum dolor sit amet, con- sectetuer adipiscing elit, sed diam nonummy nibh euismod.
				</p>
				<span class="read_more"><a href="#">read more</a></span>
			</div>
			<div class="item">
				<img src="/images/title3.jpg" alt="" width="263" height="49" /><br />
				<p>
					<strong>Adipiscing elit, sed diam</strong><br />
					Lorem ipsum dolor sit amet, con- sectetuer adipiscing elit, sed diam nonummy nibh euismod.
				</p>
				<span class="read_more"><a href="#">read more</a></span>
			</div>
		</div>
	  <div id="featured">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree. <a href="#"><img src="images/arrows.gif" alt="" width="17" height="5" /></a></p>
			<p>Ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree. <a href="#"><img src="images/arrows2.gif" alt="" width="18" height="5" /></a></p>
		  <a href="#"><img src="/images/all.gif" alt="" width="99" height="23" /></a>
		</div>
	

