
		<img src="/images/offer.jpg" alt="" width="820" height="235" border="0" usemap="#Map" />
		<div id="items">
			<div class="item">
				<img src="/images/title1.jpg" alt="" width="263" height="49" /><br />
				<p>
					<strong>Adipiscing elit, sed diam</strong><br />
					Lorem ipsum dolor sit amet, con- sectetuer adipiscing elit, sed diam nonummy nibh euismod.
				</p>
				<span class="read_more"><a href="#">read more</a></span>
			</div>
			<div class="item">
				<img src="/images/title2.jpg" alt="" width="263" height="49" /><br />
				<p>
					<strong>Adipiscing elit, sed diam</strong><br />
					Lorem ipsum dolor sit amet, con- sectetuer adipiscing elit, sed diam nonummy nibh euismod.
				</p>
				<span class="read_more"><a href="#">read more</a></span>
			</div>
			<div class="item">
				<img src="/images/title3.jpg" alt="" width="263" height="49" /><br />
				<p>
					<strong>Adipiscing elit, sed diam</strong><br />
					Lorem ipsum dolor sit amet, con- sectetuer adipiscing elit, sed diam nonummy nibh euismod.
				</p>
				<span class="read_more"><a href="#">read more</a></span>
			</div>
		</div>
               
	

