
<style type="text/css">
       BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; text-align: center;}
.style1 {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.style2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.style3 {
	FONT-SIZE: 14px
}
.style6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.style12 {
	FONT-SIZE: 12px; COLOR: #333333
}
.style14 {
	COLOR: #f37022
}
.style16 {
	COLOR: #f37022; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
</style>

<div align="center">
<TABLE cellSpacing=0 cellPadding=0 width=700 align=center border=0>
  <TBODY >
  <TR>
    <TD colSpan=3><A name=bookmark1></A><IMG height=83
      src="/images/top.gif" width=700></TD></TR>
  <TR>
    <TD width=30 background="/images/line_left.gif">&nbsp;</TD>
    <TD width=636>
      <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY>
        <TR>
          <TD width="100%">
            <P class=style1 align=left><IMG height=206 src="/images/uni.gif" width=636><BR><BR>
              An insurance plan that pays you while it protects.</P>
            <P class=style1>Uni.Asia Life offers you Uni Guaranteed Cash Plus, a
            participating endowment plan that gives you Guaranteed Cash Back
            from the end of the second policy year.</P>
            <P class=style1>Extra cash will certainly come in handy whether it
            is for a holiday treat, a new handphone, your children’s education
            or in case of an emergency. It is reassuring to have plan that
            allows you to save with easy access to regular funds while giving
            you maximum insurance protection.</P></TD></TR>
        <TR>
          <TD>&nbsp;</TD></TR>
        <TR>
          <TD>
            <P class=style2><SPAN class=style3><STRONG><STRONG><STRONG>•
            </STRONG></STRONG></STRONG>
                Benefits of Uni Guaranteed Cash Plus</SPAN><BR>
                <SPAN class=style12><BR></SPAN></P></TD></TR>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
              <TBODY>
              <TR>
                <TD vAlign=top align=middle width="5%"><SPAN class=style14>•</SPAN></TD>
                <TD class=style1 width="95%"><SPAN class=style2>
                    Protection Against Death/Total And Permanent Disability (TPD)</SPAN><BR></TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>100% of the Sum Assured together with the
                  Accumulated Cash Dividend*, Accumulated Guaranteed Cash Back*
                  and Terminal Dividend* shall be payable in the event of Death
                  or Total and Permanent Disability (TPD) of the Life Assured,
                  whichever is earlier.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1><SPAN class=style16>
                  <DIV class=style1 align=left>
                    Maximum benefit payable for natural TPD is RM1.5 million per life and covers up to age 65.
                  </DIV></SPAN></TD></TR>
              <TR>
                <TD class=style16 vAlign=top align=middle colSpan=2>
                  <DIV class=style12 align=left></DIV></TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style14>•</SPAN></TD>
                <TD class=style2>Guaranteed Cash Back</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>Cash payment of 5% of the Sum Assured will be
                  payable every year commencing from the end of the second
                  policy year. Hence you will be able to receive a Total
                  Guaranteed Cash Back of up to 115% of the Sum Assured upon
                  maturity of the policy.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style14>•</SPAN></TD>
                <TD class=style2>
                  Flexibility In Managing Your Guaranteed Cash Back</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>With Uni Guaranteed Cash Plus, you decide on
                  the savings period. There are four terms to choose from i.e.
                  10 years, 15 years, 20 years and 25 years. On top of that, you
                  have three alternatives to utilize your cash back therefore
                  offering you greater financial flexibility. You have the
                  options to:</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>• </SPAN></TD>
                <TD class=style1>Withdraw the Guaranteed Cash Back and spend
                  it any way you wish.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>• </SPAN></TD>
                <TD class=style1>Reinvest the Guaranteed Cash Back into the
                  policy to earn interest. (This is the default option)</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>• </SPAN></TD>
                <TD class=style1>Use the Guaranteed Cash Back to pay for your
                  premium when you need to.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style14>•</SPAN></TD>
                <TD class=style2>Maturity Benefit</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>Upon maturity, you will receive 100% the Sum
                  Assured together with the Accumulated Cash Dividend*,
                  Accumulated Guaranteed Cash Back* and Terminal Dividend.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style14>•</SPAN></TD>
                <TD class=style2>Surrender Benefit</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>The surrender benefit is available from the
                  end of first policy year onwards, upon surrendering the
                  policy. Basic Cash Value*, together with the Accumulated Cash
                  Dividend* and Accumulated Guaranteed Cash Back* will be
                  payable.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>*if any.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD class=style6 vAlign=top align=middle colSpan=2>
                  <DIV align=left><STRONG><STRONG><STRONG>•
                  </STRONG></STRONG></STRONG>More About Uni Guaranteed Cash
                  Plus<BR><BR></DIV></TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>• </SPAN></TD>
                <TD class=style1>The minimum Sum Assured for this plan is
                  RM10,000 while the maximum Sum Assured is RM300,000.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>• </SPAN></TD>
                <TD class=style1>Minimum age entry: 2 weeks old. Maximum age
                  at entry: 60 years old.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD class=style1 vAlign=top align=middle colSpan=2>
                  <DIV align=left>Important Notes:</DIV></TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>The premium rates are guaranteed, and there
                  shall be no revision of premium rates throughout the policy
                  term.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>The policy will not have a Guaranteed Cash
                  Value on Premature Termination Value unless it is terminated
                  after the end of third policy year and the premium has been
                  paid for 3 years.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>The cash dividend and terminal dividend are
                  NON-GUARANTEED.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>Please refer to the Sales Illustration given
                  by the agent for further information.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>If the Life Assured terminates his/her policy
                  in the early years, he/she may get back less than the amount
                  he/she has paid.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>The Life Assured should be satisfied that
                  this plan will best serve his/her needs and that the premium
                  payable under the policy is an amount that he/she can
                afford.</TD></TR>
              <TR>
                <TD vAlign=top align=middle><SPAN class=style1>•</SPAN></TD>
                <TD class=style1>If suicide of self-destruction that will
                  cause Death or Total and Permanent Disability, while sane or
                  insane, occurs within one year from the date of issue of the
                  policy or from the date of reinstatement, whichever is later,
                  the Company shall return the premium paid without
              interest.</TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD class=style1 vAlign=top align=middle colSpan=2>
                  <DIV align=left>Disclaimer:</DIV></TD></TR>
              <TR>
                <TD class=style1 vAlign=top align=middle colSpan=2>
                  <DIV align=left>This brochure is for general information only.
                  It is not a contract of insurance, the precise terms,
                  condition and definitions of this insurance plan are specified
                  in the policy contract.</DIV></TD></TR>
              <TR>
                <TD class=style1 vAlign=top align=middle colSpan=2>
                  <DIV align=left>In the event of discrepancy, ambiguity and
                  conflict in interpreting any term or condition of the
                  brochure, the English version shall prevail and it supersedes
                  the Bahasa Malaysia and Chinese version.</DIV></TD></TR>
              <TR>
                <TD vAlign=top align=middle>&nbsp;</TD>
                <TD class=style1>&nbsp;</TD></TR>
              <TR>
                <TD class=style6 vAlign=top align=middle colSpan=2>
                  <DIV align=left><STRONG><STRONG><STRONG>•
                  </STRONG></STRONG></STRONG>Why Uni.Asia Assurance
                  Berhad?<BR><BR></DIV></TD></TR>
              <TR>
                <TD class=style1 vAlign=top align=middle colSpan=2>
                  <DIV align=left>When you take up a policy with us, you can be
                  assured that you will be taken care of because we protect you
                  for life.</DIV></TD></TR>
              <TR>
                <TD class=style1 vAlign=top align=middle colSpan=2>
                  <DIV align=left>Uni.Asia Life Assurance Berhad is a DRB-HICOM
                  and UOB company.</DIV></TD></TR></TBODY></TABLE></TD></TR>
        <TR>
          <TD>&nbsp;</TD></TR>
        <TR>
          <TD class=style1>&nbsp;</TD></TR>
        <TR>
          <TD>
            <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
              <TBODY>
              <TR>
                <TD align=middle colSpan=2>&nbsp;</TD></TR>
              <TR>
                <TD align=middle colSpan=2>&nbsp;</TD></TR>
              <TR>
                <TD width="5%">&nbsp;</TD>
                <TD width="95%">
                  <DIV align=right><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2>
                      << <A href="/home">Back</A></FONT></DIV></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD>
    <TD width=34 background="/images/line_right.gif">&nbsp;</TD></TR>
  <TR>
    <TD colSpan=3><IMG height=22 src="/images/bottom.gif" width=700></TD></TR></TBODY></TABLE></div>
