
      <!-- content -->
      <div id="content">
        <h3>Services</h3>
        <ul class="list1">
          <li><img src="images/3page-img1.jpg" alt="" />
		  	<h4>Service 1</h4>
            <p class="zoom">Dscription is to be here. Since we have no idea about your services we just put standart "Lorem ipsum" text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="link1"><em><b>Read More<span>Read More</span></b></em></a> </li>
          <li><img src="images/3page-img2.jpg" alt="" />
		  	<h4>Service 2</h4>
            <p class="zoom">Dscription is to be here. Since we have no idea about your services we just put standart "Lorem ipsum" text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="link1"><em><b>Read More<span>Read More</span></b></em></a> </li>
          <li><img src="images/3page-img3.jpg" alt="" />
		    <h4>Service 3</h4>
            <p class="zoom">Dscription is to be here. Since we have no idea about your services we just put standart "Lorem ipsum" text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="link1"><em><b>Read More<span>Read More</span></b></em></a> </li>
        </ul>
      </div>
      <!-- footer -->
     