
      <!-- content -->
      <div id="content">
        <h3>Site Map</h3>
        <p class="p1"></p>
		<ul class="list2">
                           <li><a href="/home">Home</a></li>
                           <li><a href="/home/about_us">About Us</a></li>
                           <li><a href="/home/product">Product</a></li>
                           <li><a href="/agent">Login</a></li>
	                   <li><a href="/home/contact">Contact Us</a></li>
                        </ul>
						<p class="p1"></p> 

<p></p>
      </div>
      <!-- footer -->
   