
<br />

<h3>New proposal for <%= link_to @agent.fullname, @agent  %> </h3>

<br /><br />


<%= link_to "Existing Client", existing_client_agents_path %> or <%= link_to "New Client", new_client_agents_path %>

