
<table style="width: 90%;">
  <tr>
    <td style="width: 200px">
      <p>
  <strong>Agent:</strong>
  
      </p>
    </td>

    <td><%=h @proposal.agent_name  %>
      
    </td>


  </tr>
</table>

