<% if @results %>
<h3>Warning ! </h3>
 <% form_remote_tag :url => "/commission_transactions/#{@results[0].id.to_s}/regenerate_commission_days" do %>
<table class="list">
  <tr>
    <th align="left">There is no any commission days attached,<br /> Do you want to create it ?</th>

  </tr>
  <tr>
  <td>
    <%= check_box_tag "option" %> YES
  </td>
</tr>
<tr>
    <td><%= submit_tag("Submit", :disable_with => "Please wait until you get informed...")%> </td>
  </tr>

</table>
<% end %>
<% end %>
