<div class="menu">
 <ul>
        <li> <a href="/member_area" class="">Dashboard</a></li>
   <li><a href="/agents" class="">Agent</a></li>
   <li><a href="/proposals" class="">Proposal</a></li>
   <li><%= link_to "Policy", policy_proposals_path  %></li>
   <li><a href="/commission_transactions/agent" class="">Commission</a></li>
   <li><a href="/credit_points" class="">Credits</a></li>
  </ul>
</div>

